<div class="row justify-content-center">
  <div class="col-md-5">
    <h2> Editar mi usuario </h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'needs-validation mb-5', novalidate: true, data: { controller: 'bootstrap-forms' } }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, "Correo electrónico", class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
        <div class="invalid-feedback">
          Por favor, introduce una dirección de correo electrónico válida.
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="mb-3">
          Actualmente esperando confirmación para: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :password, "Nueva contraseña", class: 'form-label' %> <i>(deja en blanco si no deseas cambiarla)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <% if @minimum_password_length %>
          <div class="form-text">Mínimo <%= @minimum_password_length %> caracteres</div>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirmar contraseña", class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :current_password, "Contraseña actual", class: 'form-label' %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', required: true %>
        <div class="invalid-feedback">
          Por favor, introduce tu contraseña actual.
        </div>
      </div>

      <div>
        <%= f.submit "Actualizar", class: "btn btn-primary w-100" %>
      </div>
    <% end %>

    <h3> Eliminar mi cuenta </h3>

    <div class="d-grid">
      <%= button_to "Eliminar", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger w-100" %>
    </div>

    <%= link_to "Volver", :back, class: "btn btn-secondary mt-3 w-100" %>
  </div>
</div>

