<div class="row justify-content-center">
  <div class="col-md-4">
    <h2>Crear nueva cuenta</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation", novalidate: true }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
        <div class="invalid-feedback">
          Por favor ingresa una dirección de correo electrónico válida.
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :password, "Contraseña", class: "form-label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
        <div class="invalid-feedback">
          Por favor ingresa una contraseña con al menos <%= @minimum_password_length %> caracteres.
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirmar contraseña", class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
        <div class="invalid-feedback">
          La contraseña ingresada no coincide con la anterior.
        </div>
      </div>

      <div class="d-grid">
        <%= f.submit "Registrarse", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

