<div class="event-box card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h3>
          <%= event.name %>
        </h3>
        <p>
          <%= event.description %>
        </p>
      </div>
      <div class="col-4">
        <div class="actions-container">
          <%= link_to edit_event_path(event), class: 'btn btn-primary', style: 'margin-right: 8px;' do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>

          <%= button_to event_path(event), data: { confirm: "¿Estás seguro de borrar este evento?", turbo_confirm: "¿Estás seguro de borrar este evento?" }, method: :delete, class: 'btn btn-danger' do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
    <p>
      <i class="fa-regular fa-calendar"></i>

      <strong>
        Fecha:
      </strong>
      <%= event.date_time.strftime('%d/%m/%Y %H:%M') %>
    </p>
    <p>
      <i class="fa-solid fa-location-dot"></i>
      <strong>
        Ubicación:
      </strong>
      <%= event.location %>
    </p>
    <p>
      <strong>
        Capacidad:
      </strong>
      <%= event.capacity %>
    </p>

  </div>
</div>
