<h2>
  Mis eventos
</h2>

<div class="row justify-content-end">
  <div class="col-12 col-md-2">
      <%= link_to 'Añadir evento', new_event_path, class: 'btn btn-success w-100' %>
  </div>
</div>

<div class="mt-3">
  <% @events.each do |event| %>
    <div class="shadow-sm p-3 mb-4 bg-body-tertiary rounded">
      <h3>
        <%= event.name %>
      </h3>
      <p>
        <%= event.description %>
      </p>
      <p>
        <strong>
          Fecha:
        </strong>
        <%= event.date_time.strftime('%d/%m/%Y %H:%M') %>
      </p>
      <p>
        <strong>
          Ubicación:
        </strong>
        <%= event.location %>
      </p>
      <p>
        <strong>
          Capacidad:
        </strong>
        <%= event.capacity %>
      </p>
      <p>
        <strong>
          Creado por:
        </strong>
        <%= event.user.email %>
      </p>
    </div>
  <% end %>
</div>
